# config.py.example
# Rename this file to config.py and add your credentials.

TWITTER_API_KEY = "YOUR_API_KEY_HERE"
TWITTER_API_SECRET = "YOUR_API_SECRET_HERE"
TWITTER_ACCESS_TOKEN = "YOUR_ACCESS_TOKEN_HERE"
TWITTER_ACCESS_TOKEN_SECRET = "YOUR_ACCESS_TOKEN_SECRET_HERE"
